{% extends 'base-crud.html' %}
{% block title %}CRUD | Home Page{% endblock %}
{% block content %}
    <div class="row mt-5">
        <h1>Olá, {{ user.username }}, seja bem-vindo!</h1>
    </div>
    <hr>
    <div class="row mt-5">
        <h2>Lista de pacientes</h2>
        <ul>
            {% for paciente in pacientes %}
                <li>
                    {{ paciente.codigo_paciente }} |
                    {{ paciente.nome }} |
                    {{ paciente.cpf }} |
                    {{ paciente.email }} |
                    {{ paciente.telefone }} |
                    {{ paciente.data_nascimento|date:"d/m/Y" }} |
                    <a href="{% url 'alterar_paciente' paciente.codigo_paciente %}">Alterar</a>
                    <a href="{% url 'excluir_paciente' paciente.codigo_paciente %}">Excluir</a>
                </li>
            {% empty %}
            {{paciente.sintomas if paciente.sintomas else "Sem sintomas"}}
            
                <li>Nenhum paciente cadastrado.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}